

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h1{
  color:red;
}


.show-list {
  list-style-type: none;
  padding: 0;
}

.show-list-item {
  margin-bottom: 10px;
}
button{
  background-color: aquamarine;
  border-radius: 5px;
  font-size: 12px;
}
.show-link {
  color: #333;
  text-decoration: none;
}

.show-link:hover {
  text-decoration: underline;
}

.show-summary {
  margin-top: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.form-submit {
  display: block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #555;
}
